<form [formGroup] = "msgform" (ngSubmit) = "sendData()"> <!--  מי ששולט בטופס הזה הוא מסג'פורמ שהגדרנו לו משתמשים במקום אחר-בקומפוננט טי אס -->
<div> 
  <label for="message"></label>
  <input type="text" name = "message" id = "message"
  class = "form-control" formControlName = "message"> <!--כאן קישרנו את מי המקבילה שלו בקוד של הקופמוננט טי אס -->
</div>


<div> 
  <label for="user"></label>
  <input type="text" name = "user" id = "user"
  class = "form-control" formControlName = "user"> <!-- כאן אמרנו לו שהמקבילה שלו היא יוזר -->
</div>
<input type="submit" value = "Send the message" 
class = "btn btn-primary">

</form>