<form [formGroup] = "loginform" (ngSubmit) = "login()"> <!--  מי ששולט בטופס הזה הוא לוגיןפורמ שהגדרנו לו משתמשים במקום אחר-בקומפוננט טי אס -->
<div> 
  <label for="user"></label>
  <input type="text" name = "user" id = "user"
  class = "form-control" formControlName = "user"> <!--כאן קישרנו את מי המקבילה שלו בקוד של הקופמוננט טי אס -->
</div>


<div> 
  <label for="password"></label>
  <input type="text" name = "password" id = "password"
  class = "form-control" formControlName = "password"> <!-- כאן אמרנו לו שהמקבילה שלו היא פססוורד -->
</div>
<div *ngIf = "invalid" class = "alert alert-danger"> Invalid username or password :( try again! </div>

<input type="submit" value = "Login" 
class = "btn btn-primary">
</form>
<div>
  <button (click) = "logout()">Logout  </button>    
</div>