<!--The content below is only a placeholder and can be replaced.-->
<div> <!--style="text-align:center"> -->
  <h1>
   <!--{{getTitle()}}! -->
  </h1>
  <navigation></navigation>
  <router-outlet> </router-outlet>
</div>
